- var svgSpriteMono = 'img/sprite-mono.svg'
- var svgSpriteColor = 'img/sprite-color.svg'

mixin svgMono(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico ico-mono-" + name + modClass)
    use(xlink:href= svgSpriteMono + '#ico-mono-' + name)

mixin svgColor(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico ico-color-" + name + modClass)
    use(xlink:href= svgSpriteColor + '#ico-color-' + name)

mixin chatmessage(status)
  li(class="chat-item " + status)
    a.chat-item-photo(href='#')
      img(src='img/ava.png' alt='')
    .chat-right
      .chat-item-header
        .chat-item-name flouu- 3242 423 4csgorun.org
        .chat-item-time 23:49
      .chat-item-desc
        span.orange
        | нихуя себе, заработало бля

mixin invent(active, color)
  .inventar-col
    div(class="inventar-item " + active + ' ' + color)
      .cost 21,54
      .st
        span.act ST
        span FN
      .img
        span
          img(src='img/gun1.png' alt='')
      .bottom
        .name Dual Berettas
        .key Sundown
  // end b-item
  // end invent-col

mixin inventarMarket()
  .inventar-market
    .inventar-market--close
      +svgMono('close')
    .inventar-market__header
      .title Магазин
      .give
        .tit Отдаете
        .price
          img(src="img/valuta.svg")
          | 1760
      .return
        .tit Получаете
        .price
          img(src="img/valuta.svg")
          | 1760
    .inventar-market--filter
      .b-search
        input(type='text' placeholder='Поиск')
      .b-cost
        input(type='text' placeholder='Поиск')
      .b-select-cost
        .j-select
          .j-select-value
            +svgMono('arr-down')
            | Цена
          .j-select-drop
            ul.j-select-drop--list
              li
                .ic
                  +svgMono('filter-list')
                span Цена
              li
                .ic
                  +svgMono('filter-list')
                span Популярность
              li
                .ic
                  +svgMono('filter-list')
                span Популярность
    .inventar-list
      .inventar-scroll
        +invent('active', 'blue')
        +invent('', 'red')
        +invent('', 'pink')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
