- var svgSpriteMono = 'img/sprite-mono.svg'
- var svgSpriteColor = 'img/sprite-color.svg'

mixin svgMono(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico ico-mono-" + name + modClass)
    use(xlink:href= svgSpriteMono + '#ico-mono-' + name)

mixin svgColor(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico ico-color-" + name + modClass)
    use(xlink:href= svgSpriteColor + '#ico-color-' + name)

mixin chatmessage(status)
  li(class="chat-item " + status)
    a.chat-item-photo(href='#')
      img(src='img/ava.png' alt='')
    .chat-right
      .chat-item-header
        .chat-item-name flouu- 3242 423 4csgorun.org
        .chat-item-time 23:49
      .chat-item-desc
        span.orange
        | нихуя себе, заработало бля

mixin invent(active, color)
  .inventar-col
    div(class="inventar-item " + active + ' ' + color)
      .cost 21,54
      .st
        span.act ST
        span FN
      .img
        span
          img(src='img/gun1.png' alt='')
      .bottom
        .name Dual Berettas
        .key Sundown
  // end b-item
  // end invent-col

mixin inventarMarket()
  .inventar-market
    .inventar-market--close
      +svgMono('close')
    .inventar-market__header
      .title Магазин
      .give
        .tit Отдаете
        .price
          img(src="img/valuta.svg")
          | 1760
      .return
        .tit Получаете
        .price
          img(src="img/valuta.svg")
          | 1760
    .inventar-market--filter
      .b-search
        input(type='text' placeholder='Поиск')
      .b-cost
        input(type='text' placeholder='Цена')
      .b-select-cost
        .j-select
          .j-select-value
            +svgMono('arr-down')
            | Цена
          .j-select-drop
            ul.j-select-drop--list
              li
                .ic
                  +svgMono('filter-list')
                span Цена
              li
                .ic
                  +svgMono('filter-list')
                span Популярность
              li
                .ic
                  +svgMono('filter-list')
                span Популярность
    .inventar-list
      .inventar-scroll
        +invent('active', 'blue')
        +invent('', 'red')
        +invent('', 'pink')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
        +invent('', 'blue')
    .inventar-enter
      button.btn.btn-enter Подтвердить

mixin free-skin-info()
  .free-skin-info
    .free-skin-close
      +svgMono('close')
    .free-skin-content
      .free-skin-prize
        .free-skin-img
          img(src="img/gun1.png")
        .free-skin-name Famas
        .free-skin-case Sundown
      .free-skin-text
        h3 Розыгрыш каждый час
        .text Чтобы попасть в список самых активных и поучаствовать в розыгрыше, нужно
        ul.list-ico
          li
            img(src='img/free-ic1.svg')
            | Активность в чате
          li
            img(src='img/free-ic2.svg')
            | Активность в ставках
          li
            img(src='img/free-ic3.svg')
            | Сыграть больше 10 игр
      .users-win
        .title Последние победители
        .user
          .ava
            span
              img(src="img/ava.png")
          .right
            .name John Week
            .time
              +svgMono('time-win')
              | 11:50
          .inventar-item
            span
              img(src='img/gun1.png' alt='')
        .user
          .ava
            span
              img(src="img/ava.png")
          .right
            .name John Week
            .time
              +svgMono('time-win')
              | 11:50
          .inventar-item
            span
              img(src='img/gun1.png' alt='')
        .user
          .ava
            span
              img(src="img/ava.png")
          .right
            .name John Week
            .time
              +svgMono('time-win')
              | 11:50
          .inventar-item
            span
              img(src='img/gun1.png' alt='')
  // free-skin-info


mixin rate-listings__items()
  .rate-listings__items
    .rate-listings__item
      .rate-listings__ava
        img(src="img/ava.png")
      .rate-listings__cases
        .case-img.blue
          img(src="img/gun1.png")

      .rate-listings__price
        img(src="img/valuta.svg")
        | 1704
    .rate-listings__item
      .rate-listings__ava
        img(src="img/ava.png")
      .rate-listings__cases
        .case-img.red
          img(src="img/gun1.png")
        .case-img.blue
          img(src="img/gun1.png")
        .rate-listings__etc
          span +3
      .rate-listings__price
        img(src="img/valuta.svg")
        | 1704
    .rate-listings__item
      .rate-listings__ava
        img(src="img/ava.png")
      .rate-listings__cases
        .case-img.blue
          img(src="img/gun1.png")
        .case-img.blue
          img(src="img/gun1.png")
        .rate-listings__etc
          span +5
      .rate-listings__price
        img(src="img/valuta.svg")
        | 1704
    .rate-listings__item
      .rate-listings__ava
        img(src="img/ava.png")
      .rate-listings__cases
        .case-img.blue
          img(src="img/gun1.png")
        .case-img.blue
          img(src="img/gun1.png")
        .rate-listings__etc
          span +3
      .rate-listings__price
        img(src="img/valuta.svg")
        | 1704
    .rate-listings__item
      .rate-listings__ava
        img(src="img/ava.png")
      .rate-listings__cases
        .case-img.blue
          img(src="img/gun1.png")
        .case-img.blue
          img(src="img/gun1.png")
        .rate-listings__etc
          span +3
      .rate-listings__price
        img(src="img/valuta.svg")
        | 1704
    .rate-listings__item
      .rate-listings__ava
        img(src="img/ava.png")
      .rate-listings__cases
        .case-img.blue
          img(src="img/gun1.png")
        .case-img.blue
          img(src="img/gun1.png")
        .rate-listings__etc
          span +3
      .rate-listings__price
        img(src="img/valuta.svg")
        | 1704


mixin table-crash__row-td()
  .table-crash__row-td
    .table-crash__td.table-crash__id № 3123123
    .table-crash__td.table-crash__rate
      .crash-price
        img(src="img/valuta.svg")
        | 2015
    .table-crash__td.table-crash__cases
      .rate-listings__cases
        .case-img.red
          img(src="img/gun1.png")
        .case-img.blue
          img(src="img/gun1.png")
        .rate-listings__etc
          span +3
    .table-crash__td.table-crash__winning
      .crash-price
        img(src="img/valuta.svg")
        | 2015
    .table-crash__td.table-crash__date 17:04, 15.12.2020


mixin history-column()
  .history-column
    .history-item
      .history-item__top
        .history-item__num #740949
        .history-item__date
          +svgMono('time')
          span 11:50
      ul.history-item__icons
        li
          .history-item__icon
            +svgMono('players')
          .history-item__right
            .title Игроки
            | 237
        li
          .history-item__icon
            img.ico(src="img/i-gun.svg")
          .history-item__right
            .title Скины
            | 23
        li
          .history-item__icon
            img.ico(src="img/valuta.svg")
          .history-item__right
            .title Банк
            | 2 650
        li
          .history-item__rate
            span.bg-green 4.73x


mixin b-ticket(status)
  li(class="b-ticket " + status)
    .b-ticket__row
      .b-ticket__col.title Капец что случилось
      .b-ticket__col.status Новое сообщение
    .b-ticket__row
      .b-ticket__col.message
        .ava
          img(src="img/ava.png")
        .text Вчера зашел в аккаунт и что-то ужасное чего раньше зашел в аккаунт и что-то ужасное чего раньше
      .b-ticket__col.date 11:34
