.chat
  .chat-open
    span
      +svgMono('arr-right')
      | Открыть чат
  .chat-header
    .chat-title
      | Онлайн чат
      .status.green
        img(src='icons/png/i-online.png')
        | 2333
    a.specification(href="")
      +svgMono('pravila')
      | Правила
    button.chat-close(type='button')
      +svgMono('arr-right')
    .chat-free
      #noTrespassingOuterBarG
        #noTrespassingFrontBarG.noTrespassingAnimationG
          .noTrespassingBarLineG
          .noTrespassingBarLineG
          .noTrespassingBarLineG
          .noTrespassingBarLineG
          .noTrespassingBarLineG
          .noTrespassingBarLineG
      .chat-free__cont
        .chat-free__title Бесплатный скин
        .chat-free__timer 00:45:05
        button.chat-free__arrow
          +svgMono('arr-down')
  // end chat-header
  .free-skin-info
    .free-skin-prize
      .free-skin-img
        img(src="img/gun1.png")
      .free-skin-name Famas
      .free-skin-case Sundown
    .free-skin-text
      h3 Розыгрыш каждый час
      .text Чтобы попасть в список самых активных и поучаствовать в розыгрыше, нужно
      ul.list-ico
        li
          +svgColor('free-ic1')
          | Активность в чате
        li
          +svgColor('free-ic2')
          | Активность в ставках
        li
          +svgColor('free-ic3')
          | Сыграть больше 10 игр
    .users-win
      .title Последние победители
      .user
        .ava
          span
            img(src="img/ava.png")
        .right
          .name John Week
          .time
            +svgMono('time-win')
            | 11:50
        .inventar-item
          span
            img(src='img/gun1.png' alt='')
      .user
        .ava
          span
            img(src="img/ava.png")
        .right
          .name John Week
          .time
            +svgMono('time-win')
            | 11:50
        .inventar-item
          span
            img(src='img/gun1.png' alt='')
      .user
        .ava
          span
            img(src="img/ava.png")
        .right
          .name John Week
          .time
            +svgMono('time-win')
            | 11:50
        .inventar-item
          span
            img(src='img/gun1.png' alt='')
  .chat-cont
    ul.chat-list
      +chatmessage('online')
      +chatmessage('offline')
      +chatmessage('online')
      +chatmessage('offline')
      +chatmessage('online')
      +chatmessage('offline')
      +chatmessage('online')
      +chatmessage('offline')
      +chatmessage('online')
      +chatmessage('offline')
      +chatmessage('online')
      +chatmessage('offline')

  // end chat-cont
  .chat-bottom
    .chat-form
      .chat-form__inner
        .field-wrapper
          input#chat-input.field-textarea(type='text' placeholder='Введите сообщение' autocomplete='off' value='')
        button.btn.btn--blue(type='button' disabled='')
          +svgMono('i-submit')
    // end chat-form
    // end chat-bottom
// end chat
