// titles
.h1-title
  font-size: 2rem
  margin: 0
  padding: 0 0 2rem
  color: #fff




// paragraphs
.p-main
  font-size: 1.6rem

.p-main
  margin: 0

p + p
  margin-top: 1em

+r($lg)
  .h1-title
    font-size: 1.6rem

+r($sm)
  .h1-title
    font-size: 1.4rem


// little inline helpers
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-600
  font-weight: 600

.f-700
  font-weight: 700

.f-900
  font-weight: 900

// color modifiers
.c-red
  color: $colorRed
