.wrapper-content
  .block-support
    .block-support__up
      .block-support__row
        .block-support-50
          h1.h1-title Техподдержка
          .b-btn
            button.btn.btn--create-ticket Создать тикет
        .block-support-50.invis-sm
          .b-ticket-me
            .title Не могу вывести деньги
            .mess 2 сообщения
          .btn.btn-bord.btn--lock
            +svgMono('i-lock')
            | Закрыть тикет
    .block-support__content
      .block-support__row
        .block-support-50.block-support__ticket.flex-d-col
          .list-ticket__scroll
            ul.list-ticket
              +b-ticket('t-new')
              +b-ticket('t-wait')
              +b-ticket('t-close')
              +b-ticket('t-new')
              +b-ticket('t-wait')
              +b-ticket('t-close')
              +b-ticket('t-close')
              +b-ticket('t-close')
              +b-ticket('t-close')
              +b-ticket('t-close')
              +b-ticket('t-close')
              +b-ticket('t-close')
              +b-ticket('t-close')
          .block-support__bottom
            .block-support__bottom-left
              .title Другие способы связи?
              .mess Напишите нам на почту или ВКонтакте
              button.btn.open-chat-support Создать тикет
            .block-support__bottom-btns
              button.btn.btn-bord.red
                +svgMono('s-gmail')
                span.tit gmail
              button.btn.btn-bord.blue
                +svgMono('s-vk')
                span.tit ВКонтакте
        .block-support-50.block-support__chat.flex-d-col
          .chat-support--mob
            .chat-close-mob
              +svgMono('arr-right')
            .b-ticket-me
              .title Не могу вывести деньги
              .mess 2 сообщения
            .btn.btn-bord.btn--lock
              +svgMono('i-lock')
          .chat-support
            .chat-support__messages
              .chat-support__message
                .chat-support__row
                  .chat-support__ava
                    img(src="img/ava.png")
                  .chat-support__right
                    .chat-support__inline
                      .chat-support__nick Администрация
                      .chat-support__text
                        | Вчера зашел в аккаунт и что-то ужасное <br> чего раньше не происходило
                      .chat-support__time 11:34
                .chat-support__row.chat-support__row__me
                  .chat-support__ava
                    img(src="img/ava.png")
                  .chat-support__right
                    .chat-support__inline
                      .chat-support__text
                        | Вчера зашел в аккаунт и что-то ужасное  чего раньше не происходило
                      .chat-support__time 11:34
                .chat-support__row.chat-support__row__me
                  .chat-support__ava
                    img(src="img/ava.png")
                  .chat-support__right
                    .chat-support__inline
                      .chat-support__text
                        | Вчера зашел в аккаунт и что-то ужасное ккаунт и что-то ужасное ккаунт и что-то ужасное ккаунт и что-то ужасное ккаунт и что-то ужасное ккаунт и что-то ужасное ккаунт и что-то ужасное  чего раньше не происходило
                      .chat-support__time 11:34
                .chat-support__row.chat-support__row__me
                  .chat-support__ava
                    img(src="img/ava.png")
                  .chat-support__right
                    .chat-support__inline
                      .chat-support__text
                        | Вчера зашел в аккаунт и что-то ужасное <br> чего раньше не происходило
                      .chat-support__time 11:34
          .chat-support__bottom
            .chat-support__input
              input.input(type="text")
            .chat-support__btn
              button.btn.btn-chat-support
                +svgMono('i-submit')
.sidebar-right.chat-r
  include ../chat/_chat

button.btn.float-btn-chat
  +svgMono('btn-float-chat')
+inventarMarket()
+free-skin-info()

