.wrapper-content
  .sidebar-left.sidebar-left__lk
    .lk-user
      .lk-user__ava
        img(src="img/ava-big.png")
      .lk-user__bottom
        .lk-user__nick John Week
        .lk-user__lvl
          span 1 lvl
      .lk-user__btn
        button.btn.btn-bord Редактировать профиль
    .lk-referal--mob
      .lk-referal-info
        .lk-referal-info__title 1 LvL
        .referal-result__prices
          span.referal-result__price1
            img(src="img/valuta.svg")
            | 21,50
          | /
          span.referal-result__price2
            img(src="img/valuta.svg")
            | 25,50
        .link-referal-mob
          a.btn.btn-bord.orange(href="#")
            +svgMono('arr-right')

    .lk-referal.invis-sm
      .referal-result
        .referal-result__title Рефералы
        .referal-result__lvl
          .referal-result__progress
            #referal-result__svg
              .ldBar.label-center(data-value="35" data-preset="circle")
          .lvl
            .lvl__cont
              strong 2 LvL
              .friend
                +svgMono('user-group')
                | 5
        .referal-result__prices
          span.referal-result__price1
            img(src="img/valuta.svg")
            | 21,50
          | /
          span.referal-result__price2
            img(src="img/valuta.svg")
            | 25,50
        .referal-result__next-level до уровня 2
        .referal-result__btn-more
          button.btn.btn-bord.orange Подробнее
    .register-date Регистрация 15.12.2020

  .content
    .lk-content
      .status-game__icons
        .status-game-item
          .status-game-icon
            .b-icon
              span
                img(src="img/stat-game1.png")
            .title Сыграно игр
            .desc 12
        .status-game-item
          .status-game-icon
            .b-icon
              span
                img(src="img/stat-game2.png")
            .title Побед
            .desc 6
        .status-game-item
          .status-game-icon
            .b-icon
              span
                img(src="img/stat-game3.png")
            .title Винрейт
            .desc 6%
        .status-game-item
          .status-game-icon
            .b-icon
              span
                img(src="img/stat-game4.png")
            .title Сумма выигрышей
            .desc 3542 <img src="img/valuta.svg">
        .status-game-item
          .status-game-icon
            .b-icon
              span
                img(src="img/stat-game5.png")
            .title Топ выигрыш
            .desc 23
        .status-game-item
          .status-game-icon
            .b-icon
              span
                img(src="img/stat-game6.png")
            .title Топ коэффициент
            .desc 12
      .link-trade
        .link-trade__up
          .link-trade-title
            | Ссылка на трейд
            span.ico-i
              +svgMono('vop')
          a.link-trade-edit(href="#")
            +svgMono('i-setting')
            | Изменить
        .link-trade__bottom
          .link-trade__input
            input.input(type="text")
          .link-trade__btn
            button.btn
              +svgMono('galka')
              span.txt Сохранить
      .b-trade
        .b-trade__tabs
          ul
            li.active
              button
                +svgMono('tab-inv')
                span Инвентарь
            li
              button
                +svgMono('tab-crash')
                span Crash
            li
              button
                +svgMono('tab-spot')
                span Spots
        .b-trade__box
          .b-trade__list-inventar
            +invent('active', 'blue')
            +invent('', 'red')
            +invent('', 'pink')
            +invent('', 'blue')
            +invent('active', 'blue')
            +invent('', 'red')
            +invent('', 'pink')
            +invent('', 'blue')
            +invent('active', 'blue')
            +invent('', 'red')
            +invent('', 'pink')
            +invent('', 'blue')
            +invent('active', 'blue')
            +invent('', 'red')
            +invent('', 'pink')
            +invent('', 'blue')
            +invent('active', 'blue')
            +invent('', 'red')
            +invent('', 'pink')
            +invent('', 'blue')


.sidebar-right.chat-r
  include ../chat/_chat

button.btn.float-btn-chat
  +svgMono('btn-float-chat')
+inventarMarket()
+free-skin-info()

