.b-athorization
  width: 100%
  max-height: 38rem
  min-height: 38rem
  display: flex
  flex-direction: column
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: auto 31rem
  text-align: center
  align-items: center
  justify-content: center
  +r($lg)
    background-size: auto 25rem
    max-height: 28rem
    height: 28rem
    min-height: 28rem
  &-img
    max-height: 24rem
    svg
      width: 18rem
      height: 18rem
    img
      max-width: 100%
      max-height: 100%
      height: 100%
  .aut-text
    position: relative
    bottom: 0
    left: 0
    display: block
    color: #747A7C
    margin: 2rem auto 0
    width: 26rem
    max-width: 80%
  a.aut-text:hover
    color: #fff


.b-inventar
  display: flex
  flex-direction: column
  overflow: hidden
  min-height: 100%
  position: relative
.inventar
  &-title
    color: #747A7C
    font-size: 1.2rem
    text-transform: uppercase
    padding: 2rem 2rem 1rem
    +r($lg)
      padding: 1rem
  &-top
    padding: 0 0 1.5rem
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 2rem 2rem
    border-bottom: 1px solid #212126
    +r($lg)
      padding-bottom: 1rem
      margin: 0 1rem 1rem
      justify-content: flex-start
    img
      vertical-align: middle
      margin-right: .5rem
    .title
      font-size: 1.8rem
      color: #fff
      min-height: 2.2rem
      text-transform: uppercase

    .cost
      color: #fff
      font-size: 1.6rem
      display: inline-block
      vertical-align: middle
    .change
      margin-left: 1rem
      .cost
        color: #fff

    .all-check
      position: relative
      padding-right: 3rem
      color: #3B4042
      font-size: 1.2rem
      text-transform: uppercase
      +r($lg)
        position: absolute
        top: 1rem
        right: 1rem
      +r($sm)
        top: 1.8rem
        right: 1.2rem
      .text
        margin-top: 0
        +r($lg)
          display: none
      img
        margin-right: 0
  &-scroll
    display: flex
    flex-wrap: wrap
    position: absolute
    top: 0
    bottom: 0
    left: 1.5rem
    right: 1.5rem
    overflow: auto
    +r($lg)
      left: .5rem
      right: .5rem
  &-cont
    flex: 1 1 auto
    display: flex
    overflow: hidden

  &-list
    margin: 0 .1rem
    overflow: hidden
    flex-wrap: wrap
    flex: 1 1 auto
    position: relative
    height: 100%
    +r($sm)
      height: auto
  &-col
    display: block
    width: 50%
    font-size: 1.2rem
    padding: .5rem
    overflow: hidden

  &-item
    background: #161A1F url(../img/item-blue.svg) 50% 50% no-repeat
    background-size: 60% auto
    border: 1px solid rgba(0,0,0,0)
    padding: 1.2rem
    border-radius: 5px
    position: relative
    +r($lg)
      padding: .5rem
    &.active
      border: 1px solid #747A7C
    &:after
      content: ""
      position: absolute
      top: 50%
      left: 50%
      border-radius: 50%
      display: block
      width: 1px
      height: 1px
      box-shadow: 0 0 4rem 5rem rgba(24, 75, 255, 0.4)

    &.red
      background-image: url(../img/item-red.svg)
      &:after
        box-shadow: 0 0 4rem 5rem rgba(252,89,255, 0.4)
    &.pink
      background-image: url(../img/item-pink.svg)
      &:after
        box-shadow: 0 0 4rem 5rem rgba(255,18,32, 0.4)

    .cost
      color: #fff
      font-size: 1.2rem
      background: url('../img/valuta.svg') 0 50% no-repeat
      background-size: auto 100%
      padding: .6rem 0 .6rem 3.7rem
      +r($lg)
        padding: 0 0 0 2rem
        font-size: 1.1rem
    .img
      display: flex
      align-items: center
      height: 10rem
      width: 13rem
      margin: 0 auto
      position: relative
      z-index: 1
      +r($lg)
        width: 100%
        height: 8.4rem

      span
        display: block
        width: 100%
        text-align: center

      img
        max-width: 96%
        max-height: 76%
        +r($lg)
          max-width: 90%
          max-height: 70%
    .st
      position: absolute
      top: 1.8rem
      right: 0
      font-size: 1.2rem
      color: #747A7C
      text-transform: uppercase
      +r($lg)
        top: .5rem
        font-size: 1.1rem

      span
        display: inline-block
        margin-right: 1rem
        +r($lg)
          margin-right: .5rem
        &.act
          color: #FF5C00
    .bottom
      font-size: 1.4rem
      position: relative
      text-align: center
      +r($lg)
        font-size: 1.1rem

    .name
      color: #fff
      overflow: hidden
      white-space: nowrap

    .key
      font-size: 1.2rem
      overflow: hidden
      color: #747A7C
      white-space: nowrap
      +r($lg)
        font-size: 1.1rem

  &-bottom
    display: flex
    z-index: 2
    position: absolute
    bottom: 2rem
    left: 2rem
    right: 2rem
    .btn-exchange
      cursor: pointer
      height: 4.8rem
      text-transform: uppercase
      border-radius: .5rem
      flex: 1 1 auto
      color: #fff
      margin-right: 1rem
      text-align: center
      padding: 0
      font-size: 1.2rem
      +r($lg)
        height: 4rem
        padding-top: .5rem
      svg
        display: inline-block
        height: 1.7rem
        vertical-align: middle
        position: relative
        left: -.5rem
        top: -.3rem

    .btn-dw
      cursor: pointer
      height: 4.8rem
      text-transform: uppercase
      padding: 0
      width: 4.8rem
      color: #fff
      text-align: center
      +r($lg)
        width: 4rem
        height: 4rem
      svg
        display: inline-block
        vertical-align: middle
        height: 2rem
        position: relative

  &-locked
    height: 100%
    color: #747A7C
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    &__center
    .text
      max-width: 21.5rem
      margin: 0 auto 3rem
      a
        color: #747A7C
        &:hover
          color: #fff

  &-market
    position: fixed
    bottom: -100vh
    left: 40rem
    z-index: 5
    background: #111217
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.53)
    border: 1px solid #14161B
    border-radius: .5rem .5rem 0 0
    width: 100%
    padding: 2rem
    max-width: 55rem
    max-height: 95vh
    +r($lg)
      left: 27rem
    +r($sm)
      padding: 1rem
    &__header
      display: flex
      align-items: center
      padding-bottom: 2rem
      +r($lg)
        padding-bottom: 1rem
      .title
        color: #fff
        font-size: 2rem
        margin-right: 3rem
        text-transform: uppercase
        +r($lg)
          font-size: 1.6rem

      .tit
        color: #747A7C
        font-size: 1.2rem
        padding-bottom: .7rem
        text-transform: uppercase
        +r($lg)
          font-size: 1rem
          padding-bottom: .5rem
      .give
        margin-right: 3rem
      .price
        display: inline-flex
        align-items: center
        img
          width: 2.1rem
          height: 2.1rem
          margin-right: .8rem
          +r($lg)
            width: 1.8rem
            height: 1.8 rem
            margin-right: .5rem

    &--filter
      margin: 0 -1rem
      display: flex
      .b-search
        padding: 0 1rem
        width: 30%
        +r($sm)
          padding: 0 .5rem
      .b-cost
        width: 25%
        padding: 0 1rem
        +r($sm)
          padding: 0 .5rem
      .b-select-cost
        width: 45%
        padding: 0 1rem
        +r($sm)
          padding: 0 .5rem
    &--close
      position: absolute
      top: 2rem
      right: 2rem
      z-index: 1
      svg
        width: 1.4rem
        height: 1.4rem

    .inventar
      &-list
        max-height: 85vh
        height: 40rem
        margin: 0
        padding-top: 2rem
        +r($lg)
          height: calc(85vh - 11rem)
      &-scroll
        position: relative
        left: 0
        right: 0
        max-height: 100%
      &-col
        width: 33.3%
        +r($lg)
          width: 25%
        +r($sm)
          width: 50%
      &-enter
        display: none
        width: 100%
        +r($lg)
          display: block
        .btn
          width: 100%
.market-show
  .inventar-market
    bottom: 0
    transition: all 0.3s ease
    +r($sm)
      left: 0
.checker
  position: absolute
  top: -.2rem
  right: 0
  cursor: pointer
  input
    opacity: 0
    z-index: -1
    position: absolute

    &:checked + span
      img
        display: block
  > span
    display: flex
    align-items: center
    justify-content: center
    height: 1.8rem
    background: radial-gradient(50% 50% at 50% 50%, #2F3439 0%, #1F242B 100%)
    border: 1px solid #272C32
    border-radius: 3px
    transition: all 0.3s ease
    width: 1.8rem
    position: relative
    img
      display: none

.block-inventar
  display: flex
  flex-direction: column
  flex: 1 1 auto
  overflow: hidden
  margin-bottom: 0
  +r($sm)
    margin: 0 .5rem
  &.block-sm
    +r($sm)
      min-height: 40rem
      display: block !important



.case
  &-img
    background: url(../img/item-blue.svg) 50% 50% no-repeat
    background-size: 75% auto
    position: relative
    img
      position: relative
      z-index: 2
    &:after
      content: ""
      position: absolute
      top: 50%
      left: 50%
      border-radius: 50%
      display: block
      width: 1px
      height: 1px
      box-shadow: 0 0 2rem 2rem rgba(24, 75, 255, 0.4)
    &.red
      background-image: url(../img/item-red.svg)
      &:after
        box-shadow: 0 0 2rem 2rem rgba(252,89,255, 0.4)
    &.pink
      background-image: url(../img/item-pink.svg)
      &:after
        box-shadow: 0 0 2rem 2rem rgba(255,18,32, 0.4)


.b-game
  display: flex
  width: 100%
  flex-direction: column;
  position: relative
  min-height: 38rem
  +r($lg)
    min-height: 23rem
  +r($sm)
    border: none
    width: auto
    min-width: 100%

.game-bg
  position: absolute
  top: 0
  left: 0
  height: 100%
  overflow: hidden
.m-col-7
  display: flex
  width: 68%
  padding: 0 1rem
  +r($lg)
    padding: 0 .5rem
  +r($sm)
    width: auto
    margin: 0 -.5rem 1rem
    padding: 0

.m-col-5
  display: flex
  width: 32%
  padding: 0 1rem
  +r($lg)
    padding: 0 .5rem
  +r($sm)
    width: 100%
.b-row-labels
  position: relative
  max-width: 46rem
  overflow: hidden
  width: 100%
  margin: 2rem auto
  z-index: 1
  +r($sm)
    max-width: 50vw
  &:after
    content: ""
    top: 0
    right: 0
    width: 5rem
    height: 100%
    background: linear-gradient(to right, rgba(13,25,49,0) 0%,rgba(13,25,49,0) 33%,rgba(13,25,49,1) 100%)
    position: absolute
    overflow: hidden
.graph-labels
  white-space: nowrap

.graph-label
  display: inline-block
  vertical-align: top
  font-size: 1rem
  color: #fff
  text-transform: uppercase
  border-radius: .3rem
  padding: .5rem 1rem
  margin-right: .8rem

.game
  &-block
    display: flex
    +r($sm)
      flex-wrap: wrap
      flex-direction: column
  &-timer
    text-align: center
    color: #fff
    font-size: 3.2rem
    z-index: 1
    position: relative
    +r($lg)
      font-size: 2.4rem
  &-statics
    z-index: 1
    position: absolute
    bottom: 2rem
    left: 2rem
    right: 2rem
    display: flex
    +r($sm)
      left: 1rem
      right: 1rem
      bottom: 1rem
      justify-content: space-between
    &__player
      background: url(../img/players.svg) 0 10% no-repeat
      background-size: 3.2rem auto
      padding-left: 4rem
      margin-right: 3.2rem
    &__bank
      background: url(../img/valuta.svg) 0 50% no-repeat
      background-size: 3.2rem auto
      padding-left: 4rem
      margin-right: 4rem
    &__skins
      background: url(../img/i-gun.svg) 0 50% no-repeat
      background-size: 3.1rem auto
      padding-left: 5rem
    &__history

      padding: .6rem 0 .9rem 0
      font-size: 1.2rem
      text-transform: uppercase
      position: absolute
      top: .2rem
      right: 0
      +r($lg)
        display: none
      .link-history
        color: #3B4042
        svg
          height: 2.8rem
          margin-right: 1rem
          vertical-align: middle
        &:hover
          color: #fff
          svg
            fill: #fff

    .tit
      color: #747A7C
      font-size: 1rem
      padding-bottom: .1rem
      text-transform: uppercase
    .num
      color: #fff
      font-size: 1.4rem
      letter-spacing: 0.15em

  &-rate
    padding: 0 1rem
    flex: 1 1 auto
    overflow: hidden
    display: flex
    +r($lg)
      padding: 0 .5rem
    +r($sm)
      padding: 0
  &-info
    width: 100%
    padding: 1.6rem 2rem 1.4rem
    min-height: 28rem
    +r($lg)
      padding: 1rem
    +r($sm)
      min-height: 15rem
    &__title
      color: #747A7C
      padding-bottom: 1.4rem
      font-size: 1.2rem
      text-transform: uppercase
      +r($lg)
        font-size: 1rem
    &__koef-row
      margin: 0 -1rem 2rem
      display: flex
      align-items: center
      +r($lg)
        margin-bottom: 1rem
      .b-enter
        width: auto
        flex: 1 1 auto
        padding: 0 1rem
        input
          background: #21252C
          border: 1px solid #27292E
          border-radius: .5rem
          height: 4.8rem
          padding: 1rem
          width: 100%
          +r($lg)
            height: 4rem
            padding: .5rem 1rem
          +r($sm)
            height: 4.4rem
      .b-edit
        width: 50%
        text-align: center
        padding: 0 1rem
        +r($lg)
          position: absolute
          top: .6rem
          right: 0
        +r($sm)
          width: auto
        .edit
          color: #3B4042
          font-size: 1.2rem
          padding: 0 1rem
          background: none
          border: none
          cursor: pointer
          text-transform: uppercase
          white-space: nowrap
          +r($lg)
            font-size: 1rem
            padding: 0
          &:hover
            color: #fff
          svg
            width: 1.5rem
            height: 1.5rem
            margin-right: 1rem
            top: .2rem
            position: relative
    &__check_koef
      list-style: none
      margin: 0 -.5rem 2rem
      padding: 0 0 2rem
      display: flex
      border-bottom: 1px solid #212126
      +r($lg)
        margin-bottom: .5rem
        padding-bottom: 1rem
      +r($sm)
        border-bottom: none
        margin-bottom: 0
      li
        width: 20%
        padding: 0 .5rem
        +r($lg)
          width: 25%
          &:nth-child(n+5)
            display: none
        button
          background: radial-gradient(50% 50% at 50% 50%, #2F3439 0%, #1F242B 100%)
          border: 1px solid #272C32
          border-radius: .5rem
          cursor: pointer
          color: #747A7C
          font-size: 1.2rem
          text-align: center
          padding: 1.7rem 0
          width: 100%
          +r($lg)
            padding: 1rem
          +r($lg)
            padding: 1.4rem 1rem
        button.active
          background: radial-gradient(50% 50% at 50% 50%, #FF8000 0%, #FF4A00 100%)
          color: #fff
          border: 1px solid #FF7A00

    &__cols
      margin: 0rem -1rem .5rem
      padding: 0
      background: url(../img/fast-forward.svg) 50% 50% no-repeat
      background-size: auto
      display: flex
      align-items: center
      justify-content: space-between
      +r($lg)
        background-size: auto 2.3rem
      +r($sm)
        display: none
      .title
        font-size: 1.2rem
        text-transform: uppercase
        color: #747A7C
        padding-top: 1.1rem
        padding-bottom: .4rem
        +r($lg)
          font-size: 1rem
          padding-bottom: .3rem
    &__rate
      width: 12rem
      text-align: center
      padding: 1rem 0
      .rate-text
        display: inline-block
        vertical-align: top
        background: url(../img/valuta.svg) 0 0 no-repeat
        padding: .3rem 0 .2rem 3rem
        background-size: contain
        font-size: 1.6rem
        +r($lg)
          font-size: 1.4rem
    &__wins
      width: 12rem
      text-align: center
      background: url(../img/stars-win.svg) 50% 100% no-repeat
      position: relative
      z-index: 1
      padding: 1rem 0
      +r($lg)
        background-size: contain
      &:after
        content: ""
        width: 100%
        height: 100%
        background: url(../img/win-stars.png) 50% 100% no-repeat
        background-size: contain
        top: 0
        left: 0
        z-index: -1
        position: absolute
        +r($lg)
          background-size: contain
      .wins-text
        display: inline-block
        vertical-align: top
        font-size: 1.6rem
        background: url(../img/valuta.svg) 0 0 no-repeat
        padding: .3rem 0 .2rem 3rem
        background-size: contain
    &__bottom
      padding-top: 2rem
      +r($lg)
        padding-top: 1rem
      .btn
        width: 100%
        font-size: 1.2rem
        padding: 2.1rem 0
        text-transform: uppercase
        +r($lg)
          padding: 1.2rem 0
        +r($sm)
          padding: 1.5rem 0 1.4rem


.rate
  &-list
    display: flex
    flex-wrap: wrap
    background: #111217
    border: 1px solid #14161B
    border-radius: .5rem
    overflow: auto
    flex: 1 1 auto
    padding: 1rem
    +r($lg)
      padding: .5rem 1rem
    +r($sm)
      border: none
      padding: 0 1rem
      background: none

  &-cont
    background: #15181D
    padding: 1.2rem 1.2rem .2rem
    border-radius: .5rem
    min-height: 100%
    display: flex
    flex-direction: column
    +r($lg)
      padding: 1rem 1rem .1rem

    +r($sm)
      padding: 0
      flex-direction: row
  &-num
    font-size: 1.4rem
    color: #28FFBC
    position: absolute
    top: 1.1rem
    left: 1rem
    +r($sm)
      position: relative
      left: 0
      top: 0
      order: 1
      padding-right: 1rem
  &-result
    font-size: 1.6rem
    color: #fff
    background: url(../img/valuta.svg) 0 50% no-repeat
    background-size: auto 100%
    padding-left: 2.7rem
    top: 4.1rem
    left: 1rem
    position: absolute
    +r($sm)
      position: relative
      left: 0
      top: 0
      padding-right: 1rem

  &-icon-loose
    width: 4rem
    height: 4rem
    top: calc(50% - 2rem)
    right: 2rem
    position: absolute
    svg
      width: 4rem
      height: 4rem
  &-item
    padding: 1rem
    width: 33.3%
    +r($lg)
      padding: .5rem
      width: 50%
    +r($sm)
      width: 100%
      padding: .5rem 0
    .case-img
      width: 20%
      +r($sm)
        display: none
    &__top
      display: flex
      justify-content: space-between
      align-items: center
      +r($sm)
        justify-content: flex-start
        width: auto
        padding-left: 1rem
    &__name
      display: inline-flex
      align-items: center
      font-size: 1.6rem
      color: #fff
      +r($lg)
        font-size: 1.4rem
      .name
        +r($sm)
          display: none
      .img
        width: 4.8rem
        height: 4.8rem
        margin-right: 1.2rem
        +r($lg)
          width: 4rem
          height: 4rem
          margin-right: 1rem
          +r($sm)
            width: 3.6rem
            height: 3.6rem
    &__price
      background: url(../img/valuta.svg) 0 50% no-repeat
      background-size: auto 100%
      padding: .1rem 0 .2rem 2.7rem
    &__cases
      display: flex
      overflow: hidden
      margin-top: 1rem
      +r($sm)
        display: none
      &--status
        border-top: 1px solid #212126
        position: relative
        display: flex
        justify-content: flex-end
        align-items: center
        margin: 0 -1rem
        border-radius: .5rem
        flex: 1 1 auto
        min-height: 7rem
        +r($sm)
          border: none
          margin: 0
          min-height: 6rem
          flex-direction: row
        &:after, &:before
          content: ""
          width: 2rem
          height: 2rem
          position: absolute
          top: -1rem
          left: -1.1rem
          background: #111217
          border-radius: 50%
          z-index: 1
          +r($sm)
            display: none
        &:before
          left: auto
          right: -1.1rem
        &.win
          .win-bg
            background: url(../img/green-graf.png) 0 0 no-repeat
            background-size: auto 100% !important
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-radius: .5rem
            +r($sm)
              background: url(../img/green-graf2.png) 100% 0 no-repeat
              opacity: .8
            &:after
              content: ""
              width: 100%
              height: 100%
              background: linear-gradient(270deg, rgba(0, 57, 50, 0.15) 41.67%, #006F4A 105%)
              top: 0
              left: 0
              position: absolute
              border-radius: .5rem
              +r($sm)
                background: linear-gradient(90deg, rgba(0, 57, 50, 0.15) 52.47%, #006F4A 102.53%)
        &.lost
          +r($sm)
            .rate-result
              display: none
          .lost-bg
            background: url(../img/red-graf.png) 0 0 no-repeat
            background-size: auto 100% !important
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            +r($sm)
              background: url(../img/red-graf2.png) 100% 0 no-repeat
            &:after
              content: ""
              width: 100%
              height: 100%
              background: linear-gradient(90deg, #86161D -1.25%, rgba(179, 27, 36, 0.15) 66.81%)
              top: 0
              left: 0
              position: absolute
              border-radius: .5rem
              +r($sm)
                background: linear-gradient(90deg, rgba(255, 18, 32, 0) 28.96%, #D1222D 104.65%)
        .waiting
          background: #21252C
          text-align: center
          border-radius: 5px
          height: 4.8rem
          display: flex
          align-items: center
          justify-content: center
          color: #747A7C
          text-transform: uppercase
          width: calc(100% - 2rem)
          margin: 1.2rem 1rem 0
          position: relative
          +r($sm)
            background: none
            text-align: left
            text-indent: -999em
            display: block
            svg
              position: absolute
              top: .8rem
              right: 0
          svg
            width: 2.4rem
            height: 2.4rem
.lost
  .rate
    &-num
      color: #FF767E

    &-result
      background: none
      padding-left: 0


::-webkit-scrollbar
  width: 8px
  +r($lg)
    width: 0
::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  border-radius: 3px
  background: #212126
  +r($lg)
    background: none
    box-shadow: none
::-webkit-scrollbar-thumb
  border-radius: 3px
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
  background: linear-gradient(270deg, #FF8000 -114.43%, #FF4A00 100%)
  +r($lg)
    box-shadow: none
    background: none
