// main-about
- var leftTabs = true;
- var leftCrumbs = false;
// include ../left-col/_left-column

.wrapper-content
  .sidebar-left
    .block-gr.b-slider-inventar
      .slider-inventar
        .price-inv
          img(src='img/valuta.svg')
          | 1704
        .inventar-delete
          +svgMono('delete')

    .block-gr.block-inventar
      if aut == true
        .b-inventar
          .inventar-title Выбрано
          .inventar-top
            .balance
              img(src='img/valuta.svg')
              .cost 21.54
            .change
              img(src='img/i-gun.svg')
              .cost 34
            .all-check
              span.text Выбрать всё
              label.checker(for='id2')
                input#id2(type='checkbox')
                span
                  img(src='img/galka.svg')
          // end invertar-top
          .inventar-cont
            .inventar-list
              .inventar-scroll
                +invent('active', 'blue')
                +invent('', 'red')
                +invent('', 'pink')
                +invent('', 'blue')
                +invent('', 'blue')
                +invent('', 'blue')

              // end invent-scroll
            // end inventar-list
          // end inventar-cont
          .inventar-bottom
            button.btn.btn-exchange.js-open-market
              +svgMono('i-market')
              | Магазин
            button.btn.btn-green.btn-dw
              +svgMono('i-dw')
          // end inventar-bottom
        // end b-inventar
      else
        .inventar-locked
          .inventar-locked__center
            .text
              a(href='#') Авторизуйтесь
              |  на сайте чтобы использовать
            .b-btn
              button.btn-steam
                +svgMono('steam')
                | Войти через Steam
        // end inventar-locked
  // end block


  .content
    .game-block
      .m-col-7
        .block-gr.b-game
          .game-bg
            img(src="img/game.png")
          .b-row-labels
            .graph-labels
              a.graph-label(href='#' style='background: #C50D2C')
                span 2.10x
              a.graph-label(href='#' style='background: #A500A1')
                span 2.10x
              a.graph-label(href='#' style='background: #FF9900')
                span 2.10x
              a.graph-label(href='#' style='background: #A500A1')
                span 2.10x
              a.graph-label(href='#' style='background: #FF9900')
                span 2.10x
              a.graph-label(href='#' style='background: #A500A1')
                span 2.10x
              a.graph-label(href='#' style='background: #FF9900')
                span 2.10x
              a.graph-label(href='#' style='background: #A500A1')
                span 2.10x
              a.graph-label(href='#' style='background: #FF9900')
                span 2.10x
              a.graph-label(href='#' style='background: #22B56B')
                span 2.10x
              a.graph-label(href='#' style='background: #22B56B')
                span 2.10x
          .game-timer 09:20
          .game-statics
            .game-statics__player
              .tit Игроки
              .num 237
            .game-statics__bank
              .tit Банк
              .num 2605
            .game-statics__skins
              .tit Скины
              .num 2605
            .game-statics__history
              a.link-history(href="#")
                +svgMono('i-history')
                | История
      .m-col-5
        .block-gr.game-info
          .game-info__title Авто-вывод
          .game-info__koef-row
            .b-enter
              input(type="text" placeholder="Введите КФ")
            .b-edit
              button.edit
                +svgMono('i-setting')
                | Изменить
          ul.game-info__check_koef
            li
              button.active 1.1x
            li
              button 1.5x
            li
              button 2x
            li
              button 3x
            li
              button 5x
          .game-info__cols
            .game-info__rate
              .title Ставка
              .rate-text 1512
            .game-info__wins
              .title Выигрыш
              .wins-text 1705
          .game-info__bottom
            button.btn Сделать ставку

      .block-gr.block-inventar.block-sm
        if aut == true
          .b-inventar
            .inventar-title Выбрано
            .inventar-top
              .balance
                img(src='img/valuta.svg')
                .cost 21.54
              .change
                img(src='img/i-gun.svg')
                .cost 34
              .all-check
                span.text Выбрать всё
                label.checker(for='id1')
                  input#id1(type='checkbox')
                  span
                    img(src='img/galka.svg')
            // end invertar-top
            .inventar-cont
              .inventar-list
                .inventar-scroll
                  +invent('active', 'blue')
                  +invent('', 'red')
                  +invent('', 'pink')
                  +invent('', 'blue')
                  +invent('', 'blue')
                  +invent('', 'blue')

                // end invent-scroll
              // end inventar-list
            // end inventar-cont
            .inventar-bottom
              button.btn.btn-exchange.js-open-market
                +svgMono('i-market')
                | Магазин
              button.btn.btn-green.btn-dw
                +svgMono('i-dw')
            // end inventar-bottom
          // end b-inventar
        else
          .inventar-locked
            .inventar-locked__center
              .text
                a(href='#') Авторизуйтесь
                |  на сайте чтобы использовать
              .b-btn
                button.btn-steam
                  +svgMono('steam')
                  | Войти через Steam
          // end inventar-locked
        // end block

    .game-rate
      .rate-list
        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.waiting
              .waiting
                +svgMono('i-timer')
                | Ставка В раунде
        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.win
              .win-bg
              .rate-num 1.2X
              .rate-result 2333
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.waiting
              .waiting
                +svgMono('i-timer')
                | Ставка В раунде
        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.win
              .win-bg
              .rate-num 1.2X
              .rate-result 2333
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.waiting
              .waiting
                +svgMono('i-timer')
                | Ставка В раунде
        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.win
              .win-bg
              .rate-num 1.2X
              .rate-result 2333
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")

        .rate-item
          .rate-cont
            .rate-item__top
              .rate-item__name
                .img
                  img(src="img/ava.png")
                .name John Week
              .rate-item__price 10222
            .rate-item__cases
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.red
                img(src="img/gun1.png")
              .case-img.pink
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
              .case-img.blue
                img(src="img/gun1.png")
            .rate-item__cases--status.lost
              .lost-bg
              .rate-num 1.2X
              .rate-result Ставка не сыграла
              .rate-icon-loose
                +svgMono('loose')
.sidebar-right.chat-r
  include ../chat/_chat

button.btn.float-btn-chat
  +svgMono('btn-float-chat')
+inventarMarket()
+free-skin-info()

