.block-referal
  width: 100%
  padding: 1.5rem 2rem
  display: flex
  flex-direction: column
  margin-right: 2rem
  margin-bottom: 0
  +r($lg)
    padding: 1rem
    margin-right: 0
.crumb
  padding: 0
  margin: 0 0 1.7rem
  list-style: none
  width: 100%
  +r($sm)
    order: -1
  li
    font-size: 1.2rem
    display: inline-block
    vertical-align: middle
    position: relative
    text-transform: uppercase
    .ico
      width: 1.3rem
      height: 1.3rem
      transform: rotate(-90deg)
      fill: #3B4042
      vertical-align: middle
      margin: 0 .5rem
    a, span
      color: #3B4042
.referal
  &-scroll
    overflow: auto
    flex: 1 1 auto
    display: flex
    +r($sm)
      flex-wrap: wrap
  &-left
    width: 60%
    padding: 0 1rem 0 0
    +r($lg)
      padding-right: .5rem
      width: 52%
    +r($sm)
      width: 100%
      padding-right: 0
  &-right
    width: 40%
    padding: 0 0 0 1rem
    +r($lg)
      padding-left: .5rem
      width: 48%
    +r($sm)
      width: 100%
      padding-left: 0
  &-stat
    width: 29rem
    text-align: center
    display: flex
    justify-content: center
    +r($lg)
      width: 20rem
    +r($sm)
      width: 100%
    &__full
      background: #14161C
      display: flex
      margin: 0 0 2rem
      +r($lg)
        margin-bottom: 1rem
      +r($sm)
        flex-wrap: wrap
  &-result
    padding: 2.7rem 0
    font-size: 1.6rem
    width: 19rem
    +r($lg)
      font-size: 1.4rem
      padding: 2rem 0
    +r($sm)
      width: 100%
      height: 14rem
      position: relative
    &__title
      color: #fff
      text-align: center
      padding-bottom: 4.7rem
      +r($lg)
        padding-bottom: 3rem
      +r($sm)
        text-align: left
        padding-left: 15rem
    &__lvl
      position: relative
      font-size: 2rem
      color: #fff
      margin-bottom: 3rem
      +r($lg)
        margin-bottom: 2rem
        font-size: 1.6rem
      +r($sm)
        position: absolute
        left: 1rem
        top: 1rem
      .lvl
        position: absolute
        top: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        .friend
          color: #747A7C
          font-size: 1.4rem
          width: 100%
          margin-top: .2rem
          .ico
            width: 1.8rem
            height: 1.8rem
            margin-right: .8rem
            vertical-align: middle
    &__progress
      position: relative
      border-radius: 50%
      width: 18.7rem
      height: 18.7rem
      +r($lg)
        width: 13rem
        height: 13rem
        margin: 0 auto
    &__svg
      fill: none
      width: 18.7rem
      height: 18.7rem



    &__prices
      text-align: center
      color: #747A7C
      font-size: 1.2rem
      +r($sm)
        text-align: left
        padding-left: 15rem
    &__price1, &__price2
      color: #fff
      font-size: 1.6rem
      padding: 0 1rem
      +r($lg)
        font-size: 1.2rem
      +r($sm)
        padding-left: 0
      img
        width: 2rem
        margin-right: .5rem
        +r($lg)
          width: 1.5rem
    &__price2
      +r($sm)
        padding-left: 1rem

    &__next-level
      color: #747A7C
      font-size: 1.2rem
      text-transform: uppercase
      text-align: center
      padding-top: 1rem
      +r($sm)
        text-align: left
        padding-left: 15rem
  &-statistic
    &__right
      background: #161A1F
      padding: 0 2rem
      flex: 1 1 auto
      +r($lg)
        padding: 0 1rem
    &__graf
      background: url(../img/stat-graf-bg.png) 50% 50% no-repeat
      background-size: auto 100%
      display: flex
      align-items: center
      height: 22rem
      width: 100%
      border-bottom: 1px solid #212126
      margin-bottom: 2.9rem
      justify-content: center
      text-align: center
      +r($lg)
        height: 15rem
        margin-bottom: 1.8rem
      &-icons
        width: 40%
      &__icon
        +r($lg)
          img
            height: 4.7rem
      &__title
        padding-top: 1.6rem
        color: #747A7C
        font-size: 1.2rem
        text-transform: uppercase
        +r($lg)
          font-size: 1rem
      &__num
        padding-top: .4rem
        font-size: 2rem
        color: #fff
        +r($lg)
          font-size: 1.6rem


  &-promo
    margin-bottom: 1.6rem
    &__title
      color: #747A7C
      font-size: 1.2rem
      padding-bottom: .7rem
      text-transform: uppercase
      +r($lg)
        font-size: 1rem
    &__row
      display: flex
    &__code
      background: #21252C
      flex: 1 1 auto
      position: relative
      margin-right: 1rem
      border-radius: .5rem
      border: 1px solid #27292e
      display: flex
      align-items: center
      justify-content: center
      font-size: 1.4rem
      color: #fff
      +r($lg)

      &:after, &:before
        width: 1.2rem
        height: 1.2rem
        border-radius: 50%
        background: #161A1F
        position: absolute
        top: calc(50% - .6rem)
        content: ""
        left: -.6rem
      &:before
        left: auto
        right: -.6rem
    &__copy
      width: 4.8rem
      height: 4.8rem
      border: 1px solid #3B4042
      border-radius: .5rem
      display: inline-flex
      align-items: center
      justify-content: center
      background: none
      +r($lg)
        width: 4rem
        height: 4rem
      &:hover
        border: 1px solid #747A7C
        .ico
          fill: #747A7C
      .ico
        height: 2.4rem
        width: 2.4rem


  &-availbale
    display: flex
    align-items: center
    background: #161A1F
    padding: 2rem
    margin-bottom: 2rem
    border-radius: .5rem
    +r($lg)
      padding: 1rem
      margin-bottom: 1rem
    &__right
      display: flex
      flex: 1 1 auto
      align-items: center
      +r($lg)
        flex-wrap: wrap
    &__input
      flex: 1 1 auto
    &__left
      margin-right: 3rem
      &-title
        color: #747A7C
        font-size: 1.2rem
        text-transform: uppercase
        padding-bottom: .2rem
        +r($lg)
          font-size: 1rem
      &-price
        font-size: 1.6rem
        color: #fff
        white-space: nowrap
        +r($lg)
          font-size: 1.4rem
        img
          height: 2rem
          margin-right: 1rem
          +r($lg)
            height: 1.8rem
            margin-right: .5rem

    &__submit
      margin-left: 1rem
      button.submit
        border: 1px solid #3B4042
        width: 4.8rem
        height: 4.8rem
        background: none
        border-radius: .5rem
        display: flex
        align-items: center
        justify-content: center
        +r($lg)
          width: 4rem
          height: 4rem
        &:hover
          border: 1px solid #747A7C
          .ico
            fill: #747A7C
        .ico
          width: 2.4rem
          height: 2.4rem
    &__info
      color: #3B4042
      font-size: 1.2rem
      margin-left: 4rem
      +r($lg)
        margin-top: 1rem
        width: 100%
        margin-left: 0
        br
          display: none
  &-toggle
    background: #161A1F
    border-radius: .5rem
    margin-bottom: 2rem
    padding: 2rem
    color: #747A7C
    font-size: 1.4rem
    display: flex
    align-items: center
    position: relative
    +r($lg)
      padding: 1rem
    &__title
      display: flex
      align-items: center
      min-height: 6rem
      +r($lg)
        min-height: 5rem
      &-icon
        width: 2.4rem
        height: 2.4rem
        .ico
          width: 2.4rem
          height: 2.4rem
      &-name
        margin-left: 2rem
        margin-right: 5rem
      &-arr
        width: 4rem
        height: 4rem
        top: calc(50% - 2rem)
        right: 2rem
        background: #21252C
        border: 1px solid #27292E
        border-radius: .5rem
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        +r($lg)
          right: 1rem
        .ico
          width: 1.3rem
          height: .8rem
    &__cont
      display: none


.b-level
  &__me
    background: #161A1F
    border: 1px solid #1B1B1F
    border-radius: .5rem
    display: flex
    align-items: center
    justify-content: space-between
    padding: 2rem
    margin-bottom: 2rem
    +r($lg)
      padding: 1rem
      margin-bottom: 1rem
    &-title
      color: #fff
      font-size: 1.6rem
      +r($lg)
        font-size: 1.4rem
    &-right
      display: flex
      justify-content: flex-end
      align-items: center
    &-text
      color: #747A7C
      font-size: 1.2rem
      +r($lg)
        font-size: 1rem
    &-status
      margin-left: 1rem
      font-size: 1.2rem
      span
        color: #C19AFF
        display: inline-block
        border-radius: .5rem
        background: #6D48A7
        padding: .5rem 1rem
  &__change
    display: flex
    height: 5rem
    margin-bottom: 2rem
    font-size: 1.2rem
    background: #161A1F
    border: 1px solid #1B1B1F
    border-radius: .5rem
    &-section
      width: 33.3%
      display: flex
      align-items: center
      justify-content: center
      background: #161A1F
      &__button
        color: #747A7C
        text-transform: uppercase
        border: none
        background: none
        display: block
        align-items: center
        justify-content: center
        padding: 1.5rem 1rem
        width: 100%
        &--active
          color: #fff
          background: #14161C
          .ico
            fill: #FF8000
        .ico
          width: 2rem
          height: 2rem
          vertical-align: middle
          margin-right: 1rem
  &__table
    background: #161A1F
    border: 1px solid #1B1B1F
    border-radius: .5rem
    padding: 2rem 0
    +r($lg)
      padding: 1rem 0
    +r($sm)
      overflow: auto
.table-level
  width: 100%
  +r($sm)
    min-width: 51rem
  tr:nth-child(2n+1) td
    background: #14161C
  &--active
    background: linear-gradient(90deg, rgba(255, 102, 0, 0.2) 0%, rgba(20, 22, 28, 0) 58.2%)
    td
      background: none !important
    .table-level
      &__level
        span
          background: radial-gradient(50% 50% at 50% 50%, #FF8000 0%, #FF4A00 100%)
  th
    font-size: 1.2rem
    color: #3B4042
    text-align: left
    border-bottom: 1px solid #212126
    text-transform: uppercase
    padding: 0 2rem 2rem
    +r($lg)
      padding: 0 1rem 1rem
  td
    vertical-align: middle
    color: #fff
    font-size: 1.6rem
    padding: 4rem 2rem
    +r($lg)
      padding: 2rem 1rem
  &__level
    color: #747A7C
    font-size: 1.4rem
    +r($lg)
      font-size: 1.2rem
    span
      display: inline-flex
      background: #3B4042
      width: 3.1rem
      height: 3.1rem
      border-radius: .5rem
      align-items: center
      justify-content: center
      font-size: 1.2rem
      color: #fff
      margin-right: 1rem
      +r($lg)
        width: 2.4rem
        height: 2.4rem
  &__depo
    +r($lg)
      font-size: 1.4rem
    img
      width: 2rem
      margin-right: 1rem
  &__bonus
    font-size: 1.4rem
    +r($lg)
      font-size: 1.2rem
  &__ref-bonus
    font-size: 1.4rem
    color: #747A7C
    +r($lg)
      font-size: 1.2rem
    span
      display: inline-block
      vertical-align: middle
      margin-right: 1rem
      color: #fff






.ldBar
  position: relative
  width: 18rem !important
  height: 18rem !important
  +r($lg)
    width: 13rem !important
    height: 13rem !important
  path.mainline
    stroke-width: 8
    stroke: #FF8000
    stroke-linecap: round
    +r($lg)
      stroke-width: 5
  path.baseline
    stroke-width: 8
    stroke: #21262C
    stroke-linecap: round
    +r($lg)
      stroke-width: 5
.ldBar.label-center > .ldBar-label
  display: none
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-shadow: 0 0 3px #fff

.ldBar-label:after
  content: "%"
  display: inline

.ldBar.no-percent .ldBar-label:after
  content: ""

