// HEADER :: START
include _mix-header


// HEADER :: START
header.header
  .container
    .header-left
      .b-logo
        a.logo(to="/")
          img(src='img/logo.svg')
      .header__icons
        .header__lang
          .header__lang--value
            +svgColor('lang')
            span RUS
            +svgMono('arr-down', 'ico--arr-down')
          .header__lang--list
            ul
              li
                a(href='#')
                  span.ic
                    +svgColor('lang')
                  | ENG
              li
                a(href='#')
                  span.ic
                    +svgColor('lang')
                  | RUS
        .header__icons--sound
          +svgMono('mute')
        .double-check
          button.btn-crash.active
            img(src='img/crash.svg')
            | Crash
          button.btn-double.active
            img(src='img/h-casino.svg')
            | double
      a#hamburger-icon
        span.line.line-1
        span.line.line-2
        span.line.line-3
      nav.header__nav
        ul
          li.active
            a(href="#")
              +svgMono("i-info")
              | FAQ
          li
            a(href="#")
              +svgMono('i-support')
              | Поддержка
          li
            a(href="#")
              +svgMono('i-bonus')
              | Бонусы

    .header__float
      .header__steam
        if aut == true
          .header__login
            .header__login-ava
              img(src="img/ava.png")
            .header__login--right
              a.header__login--nick(href="#") DENDAKTHEBEST
              a.login-exit(href="#")
                 +svgMono('exit')
        else
          a.btn-steam(href="#")
            +svgMono('steam')
            | Войти через Steam
          a.login-soc(href="#")
            +svgMono('i-vk')
