.active_m
  .header
    &-toggle
      left: 0
      +r($sm)
        width: 100%
      &:after
        display: block
        +r($sm)
          display: none
.header
  background: #010101
  height: 9rem
  position: relative
  +r($lg)
    height: 8rem
    padding: 1.3rem 0 0
  +r($sm)
    height: 5rem
    padding: 1rem 0
  &-left
    display: flex
    align-items: center
    +r($lg)
      padding-left: 10rem
  &-toggle
    position: fixed
    left: -35rem
    top: 0
    transition: all 0.5s ease
    bottom: 0
    z-index: 10
    width: 32rem
    padding: 9.6rem 2rem 0
    background: #111217
    border: 1px solid #14161B
    .header__up-balance
      +r($sm)
        .btn
          height: 4.8rem
    &--cont
      overflow: auto
      max-height: 100%
      padding-bottom: 4rem
      +r($sm)
        overflow: visible
        max-height: 9999em
        padding-bottom: 0
    &:after
      content: ""
      position: fixed
      top: 0
      left: 32rem
      right: 0
      height: 100%
      z-index: -1
      background: #191B21
      opacity: .8
      display: none

    +r($sm)
      overflow: auto
    &__close
      top: 2.5rem
      left: 2rem
      position: absolute
      svg
        width: 2.3rem
        height: 2.3rem
    &__logo
      position: absolute
      top: 2.5rem
      right: 2rem
    .header
      &__login
        display: flex
        margin-bottom: 2.8rem
        &-ava
          margin-left: 0
        &--nick
          font-size: 1.4rem
      &--balance
        margin-left: 0
        +r($sm)
          .btn
            min-height: 4.2rem
      &__lang
        display: inline-flex
        background: #161A1F
      &__icons--sound
        display: inline-flex
        background: #161A1F
      &__change
        &-money
          display: flex
          margin-right: 0
          align-items: center

      &__up-balance
        padding-top: 2rem
        padding-bottom: 3rem
        border-bottom: 1px solid #212126
        +r($sm)
          border: none

        .btn
          width: 100%
          .ico
            display: none
          +r($sm)
            span
              display: block
            .ico
              display: none
    .login-exit
      color: #3B4042
      font-size: 1.2rem

      svg
        margin-top: .2rem
    &--money
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 2.4rem
    &-nav
      margin: 0 0 2rem
      padding: 0 0 2rem
      border-bottom: 1px solid #212126
      +r($sm)
        padding-bottom: 0
        border: none
        padding-top: 1rem
      li
        font-size: 1.4rem
        margin: 0
        padding: 1.5rem 0
        text-transform: uppercase
        &.active
          a
            color: #fff
          svg
            fill: #fff
        a
          color: #3B4042
        svg
          fill: #3B4042
          width: 2rem
          height: 2rem
          vertical-align: middle
          margin-right: 1rem
    &-socs
      padding-top: 3.4rem
      padding-bottom: 3.2rem
      +r($sm)
        display: inline-flex
        padding: 0
    +r($lg)
      .double-check
        display: none
    +r($sm)
      .login-soc
        display: inline-flex
        margin-left: 0
        padding: 0
      .chat-free
        display: none
      .double-check
        display: inline-flex
  &__float
    max-width: 50%
    flex: 1 1 auto
    align-items: center
    display: flex
    justify-content: flex-end
    transition: all 0.5s ease
    +r($sm)
      max-width: 100%

  &__login
    min-width: 24.5rem
    display: flex
    align-items: center
    +r($lg)
      display: none

    &--left
      text-align: right
      font-weight: bold
      color: #fff
    &--nick
      color: #fff
      font-size: 1.6rem
      padding-bottom: .5rem
      display: block
    &--profile
      color: #fff
      display: block
      svg
        fill: $clrGreen
        margin-left: .5rem
    &-ava
      max-width: 4.8rem
      min-width: 4.8rem
      border-radius: .5rem
      height: 4.8rem
      margin-left: 5.3rem
      margin-right: 1.2rem
      position: relative
      .i-lvl
        font-size: 1rem
        text-transform: uppercase
        bottom: -.6rem
        right: 0
        white-space: nowrap
        color: #fff
        padding: .2rem .4rem
        border-radius: .3rem
        background: #21252C
        position: absolute
  .login-exit
    display: inline-flex
    align-items: center
    justify-content: center
    text-transform: none
    color: #3B4042
    font-size: 1.2rem
    &:hover
      color: #fff
      .ico
        fill: #fff
    .ico
      width: 1.8rem
      height: 2rem
      fill: #3B4042

  .container
    display: flex
    align-items: center
    position: relative
    justify-content: space-between
    +r($lg)
      padding-left: 1.2rem
      padding-right: 1.2rem

  .b-logo
    width: 22rem
    +r($lg)
      display: none
  .logo
    display: block
    margin-right: 5rem
    .ico
      width: 5.5rem
      height: 2.6rem


  &__icons
    display: flex
    align-items: center
    margin-right: 3rem
    +r($sm)
      display: none
    &--sound
      cursor: pointer
      width: 4.8rem
      height: 4.8rem
      display: flex
      justify-content: center
      align-items: center
      border-radius: 5px
      background: #161A1F
      margin-right: 1.5rem
      +r($lg)
        display: none

      svg
        fill: #3B4042
        width: 1.9rem
        height: 1.9rem
      &:hover
        border-color: #ADFF00
  &__lang
    position: relative
    background: #161A1F
    height: 4.8rem
    border-radius: 5px
    padding: 0 1.2rem
    display: inline-flex
    align-items: center
    vertical-align: top
    margin-right: 1.2rem
    min-width: 10.7rem
    +r($lg)
      display: none

    &--value
      cursor: pointer
      padding-right: 2.1rem
      font-size: 1.2rem
      display: flex
      align-items: center
      span
        margin-left: 1rem
      .ico--arr-down
        width: 1.3rem
        height: .8rem
        position: absolute
        top: 2rem
        right: 1rem

    &--list
      display: none
      position: absolute
      top: 105%
      left: 0
      width: 6.5rem
      background: #35373F
      border: 1px solid #4B4E55
      ul
        li
          font-size: 1.1rem
          display: block
          a
            color: #fff
            display: flex
            width: 100%
            padding: .7rem .5rem
            &:hover
              background: rgba(255,255,255, .1)
              color: #fff
          .ic
            display: block
            width: 2rem
            max-width: 2rem
          img
            width: 1.5rem

  &__nav
    flex: 1 1 auto
    max-width: 40rem
    font-size: 1.4rem
    +r($lg)
      display: none

    ul
      display: flex
      align-items: center
      width: 100%
      justify-content: space-between

      li
        display: flex
        height: 10rem
        font-weight: bold
        margin-right: 3.1rem
        text-transform: uppercase

        a
          display: inline-flex
          white-space: nowrap
          align-items: center
          color: #3B4042
          &:hover, &.router-link-active
            color: #fff
            .ico
              fill: #fff !important

        .ico
          fill: #3B4042
          height: 2.2rem
          margin-right: 1rem
          width: 2.2rem
          display: inline-block
          vertical-align: top
          position: relative
          top: 0
  &__steam
    display: flex
    max-width: 44rem
    align-items: center

  &__change-money
    background: #161A1F
    border-radius: .5rem
    display: flex
    +r($lg)
      display: none

    button
      height: 4.8rem
      width: 4.8rem
      display: flex
      border-radius: .5rem
      align-items: center
      justify-content: center
      border: 1px solid #161A1F
      background: #161A1F
      img
        width: 2.2rem
        height: 2.2rem
      &:hover, &.active
        background: #21252C
        border: 1px solid #27292E
  &--balance
    margin-left: 3.8rem
    font-size: 1.6rem
    display: inline-flex
    align-items: center
    margin-right: 2rem
    +r($sm)
      img
        width: 1.8rem

    img
      margin-right: 1rem
      vertical-align: middle
      max-height: 100%
  &__up-balance
    text-transform: uppercase
    .ico
      display: none
    +r($sm)
      .btn
        width: 3.2rem
        height: 3.2rem
        padding: 0


      span
        display: none
      .ico
        display: inline-block
  &__menu-bottom
    +r($sm)
      display: flex
      justify-content: space-between
      padding-bottom: 2rem

.double-check
  background: #161A1F
  border-radius: 5px
  display: flex
  button
    width: 11.5rem
    height: 4.8rem
    border-radius: 5px
    color: #3B4042
    display: inline-flex
    align-items: center
    background: #161A1F
    padding: 0 1.3rem
    font-size: 1.2rem
    text-transform: uppercase
    img
      margin-right: 1.1rem
      opacity: .5
      width: 2.3rem
      height: 1.9rem
    &.btn-crash
      &.active
        background: radial-gradient(71.87% 71.87% at 50% 50%, #BC002D 24.48%, #3C0000 100%)
        border: 1px solid #8A0A01
        color: #fff
        img
          opacity: 1
    &.btn-double
      &.active
        background: radial-gradient(71.87% 71.87% at 50% 50%, #034593 24.48%, #01003C 100%)
        border: 1px solid #032781
        color: #fff
        svg
          opacity: 1
.login-soc
  display: flex
  justify-content: center
  align-items: center
  min-width: 4.8rem
  max-width: 4.8rem
  height: 4.8rem
  background: radial-gradient(91.67% 91.67% at 50% 50%, #4A76A8 27.58%, #1C3E65 100%)
  border: 1px solid #4A76A8
  border-radius: .5rem
  margin-left: 3rem
  +r($lg)
    display: none
  svg
    width: 2.3rem
    height: 1.9rem

#hamburger-icon
  width: 3rem
  height: 2rem
  z-index: 10
  line-height: 1
  position: absolute
  top: 1.4rem
  left: 1.2rem
  display: none
  color: #ADFF00
  +r($sm)
    width: 2.5rem
    height: 1.8rem
    top: .5rem
    left: 1.5rem
body.active_m #hamburger-icon
  height: 2rem

#hamburger-icon
  .line
    display: block
    background-color: #fff
    width: 3rem
    height: .3rem
    position: absolute
    transition: all 0.4s
    +r($sm)
      width: 2.5rem
      height: .2rem


.active_m .line
  background: #fff

#hamburger-icon
  .line
    &.line-1
      top: 0

    &.line-2
      top: 50%

    &.line-3
      top: 100%
      width: 75%

  &:hover .line-1, &:focus .line-1
    transform: translateY(-4px)
    -webkit-transform: translateY(-4px)
    -moz-transform: translateY(-4px)

  &:hover .line-3, &:focus .line-3
    transform: translateY(4px)
    -webkit-transform: translateY(4px)
    -moz-transform: translateY(4px)

+r($lg)
  #hamburger-icon
    display: block
  body.active_m #hamburger-icon
    .line-1
      transform: translateY(10px) translateX(0) rotate(45deg)
      -webkit-transform: translateY(10px) translateX(0) rotate(45deg)
      -moz-transform: translateY(10px) translateX(0) rotate(45deg)

    .line-2
      opacity: 0

    .line-3
      transform: translateY(-10px) translateX(0) rotate(-45deg)
      -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg)
      -moz-transform: translateY(-10px) translateX(0) rotate(-45deg)



