// mix cart row

mixin headerCart1()
	.b-cart__add-cart-info-block
		.info-cart
			.img
				a(href="#")
					img(src="img/cart-item-small.png" alt="")
			.text
				a(href="#") Светильник светодиодный 220V 18W 4000К 22x70x600мм 1600lm IP20
		.mess-add Добавлен в корзину
