.wrapper-content
  .block-history
    ul.crumb
      li
        a(href="#") История раундов
        +svgMono('arr-down')
      li
        span Раунд #740908
    h1.h1-title Раунд #740908
    .history-hash-row
      .history-hash
        .round-data
          .round-data__text
            +svgMono('security')
            p <span>ХЭШ:</span> 8bb569186c6737a36f0b65cd28a548ce4d94b1f26bb8124474c7e1abbd18a3d5 <br>
              | <span>СОЛЬ:</span> 65b21373f5268c35ee5d1654a16ee476
          .history-hash__btn
            button.btn.btn-bord.orange Проверить
      .history-statistics
        ul.history-item__icons
          li
            .history-item__icon
              +svgMono('players')
            .history-item__right
              .title Игроки
              | 237
          li
            .history-item__icon
              img.ico(src="img/i-gun.svg")
            .history-item__right
              .title Скины
              | 23
          li
            .history-item__icon
              img.ico(src="img/valuta.svg")
            .history-item__right
              .title Банк
              | 2 650
    .history-list
      .history-scroll
        .rate-list
          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.waiting
                .waiting
                  +svgMono('i-timer')
                  | Ставка В раунде
          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.win
                .win-bg
                .rate-num 1.2X
                .rate-result 2333
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.waiting
                .waiting
                  +svgMono('i-timer')
                  | Ставка В раунде
          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.win
                .win-bg
                .rate-num 1.2X
                .rate-result 2333
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.waiting
                .waiting
                  +svgMono('i-timer')
                  | Ставка В раунде
          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.win
                .win-bg
                .rate-num 1.2X
                .rate-result 2333
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")

          .rate-item
            .rate-cont
              .rate-item__top
                .rate-item__name
                  .img
                    img(src="img/ava.png")
                  .name John Week
                .rate-item__price 10222
              .rate-item__cases
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.red
                  img(src="img/gun1.png")
                .case-img.pink
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
                .case-img.blue
                  img(src="img/gun1.png")
              .rate-item__cases--status.lost
                .lost-bg
                .rate-num 1.2X
                .rate-result Ставка не сыграла
                .rate-icon-loose
                  +svgMono('loose')

.sidebar-right.chat-r
  include ../chat/_chat

button.btn.float-btn-chat
  +svgMono('btn-float-chat')
+inventarMarket()
+free-skin-info()

