.wrapper-content
  .block-history
    h1.h1-title История
    p На этой странице отображается история игр.
    .history-list
      .history-scroll
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()
        +history-column()

.sidebar-right.chat-r
  include ../chat/_chat

button.btn.float-btn-chat
  +svgMono('btn-float-chat')
+inventarMarket()
+free-skin-info()

