.ico-color-crash {
  width: 1.2em;
  height: 1em;
}
.ico-color-galka {
  width: 1.1em;
  height: 1em;
}
.ico-color-green-graf {
  width: 5.06em;
  height: 1em;
}
.ico-color-h-casino {
  width: 1em;
  height: 1em;
}
.ico-color-i-online2 {
  width: 0.75em;
  height: 1em;
}
.ico-color-i-rub {
  width: 1em;
  height: 1em;
}
.ico-color-lang {
  width: 1.5em;
  height: 1em;
}
.ico-color-logo {
  width: 2.12em;
  height: 1em;
}
