.ico-mono-arr-down {
  width: 1.63em;
  height: 1em;
  fill: #747A7C;
}
.ico-mono-arr-right {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.ico-mono-aut-invent {
  width: 1.01em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-ava-load {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-book {
  width: 1.18em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-btn-float-chat {
  width: 1.09em;
  height: 1em;
  fill: #fff;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-crash {
  width: 1.2em;
  height: 1em;
  fill: url(#paint0_radial);
}
.ico-mono-crop-edit {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-delete {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-fast-forward {
  width: 1em;
  height: 1em;
  fill: #FF7100;
}
.ico-mono-file-copy {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-filter-list {
  width: 1.5em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-galka {
  width: 1.1em;
  height: 1em;
  fill: url(#paint0_radial);
}
.ico-mono-green-graf {
  width: 5.06em;
  height: 1em;
  fill: #fff;
}
.ico-mono-h-casino {
  width: 1em;
  height: 1em;
  fill: url(#paint0_linear);
}
.ico-mono-i-bonus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-i-del {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-i-dw {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-i-exit {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-i-gun {
  width: 0.88em;
  height: 1em;
  fill: url(#paint0_linear);
}
.ico-mono-i-history {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-i-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-i-lock {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-i-market {
  width: 1.11em;
  height: 1em;
  fill: #fff;
}
.ico-mono-i-online {
  width: 0.75em;
  height: 1em;
  fill: url(#b);
}
.ico-mono-i-setting {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-i-submit {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-i-support {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-i-timer {
  width: 1em;
  height: 1em;
  fill: #747A7C;
}
.ico-mono-i-vk {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ico-bank-money {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-ico-pay {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-lang {
  width: 1.5em;
  height: 1em;
  fill: #F0F0F0;
}
.ico-mono-logo {
  width: 2.12em;
  height: 1em;
  fill: url(#paint0_linear);
}
.ico-mono-loose {
  width: 1em;
  height: 1em;
  fill: #EB2D39;
}
.ico-mono-mute {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-players {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-pravila {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-random {
  width: 1.33em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-s-arr-l {
  width: 2em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-s-arr-r {
  width: 2em;
  height: 1em;
  fill: #fff;
}
.ico-mono-s-gmail {
  width: 1em;
  height: 1em;
  fill: #E73B27;
}
.ico-mono-s-vk {
  width: 1em;
  height: 1em;
  fill: #4A76A8;
}
.ico-mono-section1 {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-section2 {
  width: 1.14em;
  height: 1em;
  fill: url(#paint0_radial);
}
.ico-mono-section3 {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-security {
  width: 0.75em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-slide-image {
  width: 1em;
  height: 1em;
  fill: #FC59FF;
}
.ico-mono-smile2 {
  width: 1em;
  height: 1em;
  fill: url(#paint0_radial);
}
.ico-mono-stars-win {
  width: 1.63em;
  height: 1em;
  fill: #FFB800;
}
.ico-mono-stars-win2 {
  width: 1.38em;
  height: 1em;
  fill: #73D4FF;
}
.ico-mono-steam {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-tab-crash {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-tab-inv {
  width: 1em;
  height: 1em;
  fill: url(#paint0_radial);
}
.ico-mono-tab-spot {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-time-win {
  width: 0.95em;
  height: 1em;
  fill: #747A7C;
}
.ico-mono-time {
  width: 1em;
  height: 1em;
  fill: #747A7C;
}
.ico-mono-user-box {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-user-group {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
.ico-mono-vop {
  width: 1em;
  height: 1em;
  fill: #3B4042;
}
