.wrapper-content
  .btns-list
    ul
      li
        button.btn.js-pop-popolnit попап пополнение
      li
        button.btn.js-pop-edit-user попап редактирование пользователя
      li
        button.btn.js-pop-create-ticket попап создание тикета
      li
        button.btn.js-pop-inline попап проверка раунда

.sidebar-right.chat-r
  include ../chat/_chat

button.btn.float-btn-chat
  +svgMono('btn-float-chat')
+inventarMarket()
+free-skin-info()

